  <section id ="feed_<%= @feed&.id || 'all' %>" class="section article-list">
    <p style="color: green"><%= notice %></p>

    <% articles.each do |article| %>
      <div class="article is-flex is-flex-direction-row">
        <% if article[:image].present? %>
          <figure class="image is-64x64 mr-2 mt-1">
            <img src="<%= article[:image] %>" alt="<%= article[:title] %> image" class="artical-image">
          </figure>
        <% end %>
        <div class="article-content">
          <h2 class="has-text-weight-bold"><a href="<%= article[:link] %>" target="_blank"><%= article[:title] %></a></h2>
          <p><%= parse_description(article[:description]) %></p>
          <p><small><%= time_ago_in_words(article[:pub_date]) %> ago</small></p>
        </div>
      </div>
      <hr>
    <% end %>
  </section>