<div class="columns">
  <div class="column is-3">
    <div class="container m-4">
    <aside class="menu" data-controller="menu">
      <p class="menu-label is-size-5 mb-3 has">Feeds</p>
      <ul class="menu-list">
        <li>
          <%= link_to feeds_path, class: "has-text-weight-bold", data: { menu_target: "item", feed_id: "feed_all" } do %>
            <%= icon('fas', 'rss')%> <span class="ml-2">All Feeds</span>
          <% end %>
        </li>
        <% @feeds.sort_by(&:name).each do |feed| %>
          <%= render feed %>
        <% end %>
      </ul>
    </aside>
    <div>
      <%= link_to new_feed_path, class: "button is-link is-small mt-4", data: { turbo_frame: :feed_panel } do %>
        <%= icon('fas', 'plus') %>&nbsp;Add Feed
      <% end %>
    </div>
    <hr>
    <div>
      <%= link_to edit_user_registration_path, class: "button is-link is-outlined is-small mt-3", data: { turbo_frame: :feed_panel } do %>
        <%= icon('fas', 'gear') %>&nbsp;Account Settings
      <% end %>
    </div>
    <div>
      <%= link_to destroy_user_session_path, class: "button is-danger is-outlined is-small mt-3", data: { turbo_method: :delete } do %>
        <%= icon('fas', 'right-from-bracket') %>&nbsp;Sign Out
      <% end %>
    </div>
    </div>
  </div>
  <div class="column">
    <%= turbo_frame_tag :feed_panel do %>
      <%= render "feed_list", articles: @articles %>
    <% end %>
  </div>
</div>
