<p style="color: green"><%= notice %></p>
<div class="columns">
  <div class="column is-3">
    <div class="container m-4">
    <aside class="menu">
      <p class="menu-label is-size-5 mb-3">Feeds</p>
      <ul class="menu-list">
        <li><a><%= icon('fas', 'rss')%> <span class="ml-2">All Feeds</span></a></li>
        <% @feeds.each do |feed| %>
          <%= render feed %>
        <% end %>
      </ul>
    </aside>
    <hr>
    <%= link_to new_feed_path, class: "button is-link", data: { turbo_frame: :feed_panel } do %>
       <%= icon('fas', 'plus') %>&nbsp;Add Feed
    <% end %>
    </div>
  </div>
  <div class="column">
    <%= turbo_frame_tag :feed_panel do %>
    <% end %>
  </div>
</div>
