<%= turbo_frame_tag :feed_panel do %>
  <%= render "feed_list", articles: @articles %>
    <div>
      <%= link_to "Edit this feed", edit_feed_path(@feed) %> |
      <%= link_to "Back to feeds", feeds_path %>

      <%= button_to "Destroy this feed", @feed, method: :delete %>
    </div>
<% end %>