<section class="section">
  <div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
      <h2 class="title has-text-centered">Resend confirmation instructions</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "button is-primary" %>
        </div>
      <% end %>
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
